<header>
  <div class="title">
    <h2 class="sitename">The Medley</h2>
    <div class="description">
      is a twice-a-year literary journal run by the students of Hansraj College, University of Delhi. It is a repository of stories, poems and essays sent to us from around the world since 2018.
    </div>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/submission">Submissions</a>
      </li>
      <li>
        <a href="/issues">Issues</a>
        {# <ul>
          {%- for issue in collections.list | reverse -%}
          <li><a href="{{issue.url}}">{{issue.data.title}}</a></li>
          {% endfor %}
        </ul> #}

      </li>
      <li>
        <a href="\issues\issue9\masthead_9misc">Masthead</a>
      </li>
    </ul>
  </nav>
</header>