--- 
title: piece
layout: 'base.njk' 
---

<article class="piece">
    <h2 class="piece-heading">{{title}}</h2>
    <div class="piece-byline">
        <span class="byline-name">{{authour}}</span>
        <a class="byline-issue" href="/issues/{{issueNo}}">{{tags.join(" / ")}}</a>    
    </div>
    <div class="piece-text">{{content | safe }}</div>

    <div class="piece-authour">
        <img src="{{image}}" class="piece-authour-image">
        <div class="piece-authour-text">
            <h3 class="piece-authour-title">{{authour}}</h3>
            <div class="piece-authour-bio">{{bio | safe}}</div>
        </div>
    </div>

</pre>
</article>