* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
}

img {
  max-width: 90vw;
}

main {
  padding: 30px;
  font-size: min(4vw, 18px);
  line-height: 1.4;
  margin-bottom: 50px;
}

main p {
  margin-bottom: 20px;
}

.content-title {
  font-size: 40px;
  font-weight: 100;
  border-bottom: 6px double black;
  margin-bottom: 20px;
}

.med {
  max-width: 800px;
}

footer {
  background: black;
  color: white;
  padding: 10px;
}

.issue-catagory {
  margin-bottom: 15px;
}

.issue-list li {
  list-style: none;
  margin-left: 15px;
  margin-bottom: 15px;
}

.med ol li {
  margin: 0 0 20px 30px
}

a.catagory-link {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}

a.catagory-link:hover {
  font-style: italic;
}

.container {
  padding: 5px 10px;
}
