--- 
title: 'Layers' 
tags: ["contents"] 
issueNo: 7
cover: '/images/issue7img/cover7.jpg'
layout: 'base.njk' 

---

<div style="display:flex; flex-wrap:wrap; gap:40px">
<img src="{{cover}}" style="width:min(80vw,500px);height:min(80vw,500px);object-fit: cover;">
<section class="med">
    <h1 class="content-title">
        {{title}}
    </h1>

    <ul class="issue-list">
    {%- for post in collections.issue7 -%}
        {% if post.data.tags.includes("misc") %}
            <li>
                <a href="{{post.url}}">{{post.data.title}}
                    /
                    <i>{{post.data.authour}}</i>
                </a>
            </li>
            {%endif%}
        {%- endfor -%}
        <h3 class="issue-catagory">Poetry</h3>
    {%- for post in collections.issue7 -%}
        {% if post
            .data
            .tags
            .includes("poetry") %}
            <li>
                <a href="{{post.url}}">{{post.data.title}}
                    /
                    <i>{{post.data.authour}}</i>
                </a>
            </li>
            {%endif%}
        {%- endfor -%}
        <h3 class="issue-catagory">Prose</h3>
        {%- for post in collections.issue7 -%}
            {% if post
                .data
                .tags
                .includes("prose") %}
                <li>
                    <a href="{{post.url}}">{{post.data.title}}
                        /
                        <i>{{post.data.authour}}</i>
                    </a>
                </li>
                {%endif%}
            {%- endfor -%}
            <h3 class="issue-catagory">Essays</h3>
        {%- for post in collections.issue7 -%}
            {% if post
                .data
                .tags
                .includes("essay") %}
                <li>
                    <a href="{{post.url}}">{{post.data.title}}
                        /
                        <i>{{post.data.authour}}</i>
                    </a>
                </li>
                {%endif%}
            {%- endfor -%}
        </ul>        
</section>
</div>
