--- 
title: Home 
layout: 'base.njk' 
---

<div style="display:flex; flex-wrap:wrap; gap:30px">
<img src="/images/issue11img/cover11.webp" style="width:min(80vw,600px)">
<section class="med">
  <h1 class="content-title">
    Issue #11 : Laal
  </h1>

  <div class="content-text">
    <p>
      Laal, or the colour Red, transcends the visual and enters abstraction, shows us multitudes — of fear, of shame, of grief. From a whimsical midnight thought, it unfolds into symbols, divergent meanings and layers. It shows us how red is, and never was, just a colour. A shade, which cut opens like an infinitely layered cake. The deeper you cut, the more it reveals.
    </p> <br>
    <p>Write to us what laal invokes for you.<br><b>The deadline for this issue is 12th of October, 2025.</b></p><br>
    <p>Read the concept note <a href = "/submission">here</a></p>
  </div>
</section>

</div>