--- 
title: Home 
layout: 'base.njk' 
---

<div style="display:flex; flex-wrap:wrap; gap:30px">
<img src="/images/issue11img/cover11.webp" style="width:min(80vw,600px)">
<section class="med">
  <h1 class="content-title">
    Issue #11 : Laal
  </h1>

  <div class="content-text">
  <p>Each of us carries our own repertoire of Laal in the love that we lost or a longing for the present. Imagine a girl crossing the threshold to enter womanhood. A wife fighting to swallow tears to internalise the patriarchy in herself. Or a soldier scratching open his wounds to forgive the blood on his hands. </p><br>
  <p>This eleventh issue of The Medley features an interview with Sahitya Akademi recipient Arupa Patangia Kalita. Her work carries the echoes of Laal within it; she writes about resistance and questions on Women in society. In this issue, we asked writers and artists to let the colour run: through silent poems of unheard grief, through essays that excavate, through stories with no redemption. We are truly grateful to everyone who trusted us with their pigments....those tender, savage, shameful and sacred shades of humanity. You held your stains up; we learned to read them as testimony.</p><br>
  <p>Read these pages slowly. Let the shades accumulate. If Laal unsettles you, that is its duty. If it comforts you, that is its gift. We present to you Issue #11 of The Medley, Laal.</p><br>
  <p>Warmly,<br><i>The Medley</i></p>
<br>
  <p><a href='/issues/11/'>Read it here</a></p>
  </div>
</section>

</div>