--- 
title: Home 
layout: 'base.njk' 
---

<div style="display:flex; flex-wrap:wrap; gap:30px">
<img src="/images/issue9img/cover9.jpg" style="width:min(80vw,600px)">
<section class="med">
  <h1 class="content-title">
    Issue #9 : Debris
  </h1>

  <div class="content-text">
    <p>
      [...] More than ever it is important to write of hope, not as a device of fiction but as a very real antiseptic to complacency. Centuries later, the only discriminator that remained of simple debris and a history were the pots, the songs and the work of writers. The debris on our screens is a reminder to speak plainly of these things and keep speaking. Through this issue, we celebrate in the smallest of ways, the importance of holding safe whatever was spoken.
    </p>

    <p>
      We present to you <a href="/issues/9/"><i>The Medley:</i> Issue #9</a>.
    </p>

    <p>
      <i>Regards,
        <br>
        The Medley.</i>
    </p>
  </div>
</section>

</div>