--- 
title: Submission 
layout: 'base.njk' 
---

<section class="med">
    <h1 class="content-title">Concept Note</h1>
    <p style="text-align: justify">Laal (लाल) translates to the colour Red. But red is, and never was, just a colour. From a midnight thought, it unfolds into symbols, diverging meanings and layers. It holds multitudes – fear, love, shame, dignity, trauma, and guilt. A colour shaped like a neverending layered cake: the deeper you cut, the more it reveals. From the faint pinks of a sun dipping below the skyline to the darkest shade of dried blood, Laal is never still. <br><br>
    Traditionally, Laal is romanticised as the colour of love, passion, and chemistry. Of burning connections - Of the rose pressed between pages after a first date, left to decay with time - Of the spilt wine of heartbreak on the wooden floors of a house once shared. But what happens when that love rots? When it’s rejected? Lost? When it turns on you? When it begins to haunt? <br><br>
    It is also the colour of dignity – both claimed and stripped. The Sindoor, worn in the parting of a woman’s hair. For some a choice, for others, a mark of sacrifice, of compulsion. The color of the bridal gown, of the bride bound to a man when her heart belonged to a woman. Of being promised a fairytale and receiving silence instead. It is the colour of quiet oppression, of stories swallowed, of identities forced to fold inwards. <br><br>
    Laal stains in other ways too; blemishes in the memory of a war survivor, who sees flashes of Laal every time their eyes shut, on bodies that carry histories never recorded. Blood that dried but never really disappeared. <br><br>
    Let this colour bleed into every form, every voice, every memory. Let it remain untamed.
    The Medley waits for your submissions on Laal.</p><br><br>

    <p>Submissions for issue #11 is now <b>closed</b>. 
    <br>
    You can send your entries to <a href="mailto:themedley.ostraca@gmail.com">themedley.ostraca@gmail.com</a>.</a>
    </p>
    <br><br><br>

    <h2 class="content-title">General Guidelines</h2>

    <p style="color: brown">
        PROSE / ESSAYS : Only 2 pieces at a time, 2500 words maximum
        <br>
        POETRY : Only 3 pieces at a time, no word limit
        <br>
        PHOTOGRAPHY: Up to 5 images per individual. Attach a accompanying note for all.
    </p>
    <ol>
        <li>Prose and poetry should ideally be directly pasted in the body of the email. If your work requires special formatting, you may send it as an attachment, preferably in the form of a word document. PDF files are also acceptable.</li>
        <li>All submissions have to be accompanied by a short third-person bio of no more than 100 words, along with a headshot/photograph of the submitter as an attachment.</li>
        <li>The category of your work - fiction, non-fiction, poetry - has to be mentioned in the subject of the submission email. Also, state whether your submission is themed or non-themed.</li>
        <li>We allow only for previously unpublished works. We are open to simultaneous submissions (so long as you classify them as such and immediately let us know if they're accepted elsewhere).</li>
        <li>The Medley requires First Serial Rights and all archival rights. All rights revert back to the author upon publication.</li>
        <li>If your work appears elsewhere in print or online, please give due credit to The Medley as the place where your work first appeared.</li>
        <li>For any queries, you can email us at <a href="mailto:themedley.ostraca@gmail.com">themedley.ostraca@gmail.com</a>. We try to respond to submissions within 4-8 weeks of receiving them. If you do not hear from us till then, you can drop us an email at the above-mentioned address.</li>
    </ol>
    <p>
        <i>
            Wishing you the best,
            <br>
            The Medley Team
        </i>
    </p>

</section>