--- 
title: Submission 
layout: 'base.njk' 
---

<section class="med">
    <h1 class="content-title">General Guidelines</h1>

    <p>Submissions for issue #10 are open till <b>April 21st</b>. 
    <br>
    You can send your entries to <a href="mailto:themedley.ostraca@gmail.com">themedley.ostraca@gmail.com</a> or through <a href="https://bit.ly/medley25">this form</a>
    </p>

    <p style="color: brown">
        PROSE / ESSAYS : Only 2 pieces at a time, 2500 words maximum
        <br>
        POETRY : Only 3 pieces at a time, no word limit
        <br>
        PHOTOGRAPHY: Up to 5 images per individual. Attach a accompanying note for all.
    </p>
    <ol>
        <li>Prose and poetry should ideally be directly pasted in the body of the email. If your work requires special formatting, you may send it as an attachment, preferably in the form of a word document. PDF files are also acceptable.</li>
        <li>All submissions have to be accompanied by a short third-person bio of no more than 100 words, along with a headshot/photograph of the submitter as an attachment.</li>
        <li>The category of your work - fiction, non-fiction, poetry - has to be mentioned in the subject of the submission email. Also, state whether your submission is themed or non-themed.</li>
        <li>We allow only for previously unpublished works. We are open to simultaneous submissions (so long as you classify them as such and immediately let us know if they're accepted elsewhere).</li>
        <li>The Medley requires First Serial Rights and all archival rights. All rights revert back to the author upon publication.</li>
        <li>If your work appears elsewhere in print or online, please give due credit to The Medley as the place where your work first appeared.</li>
        <li>For any queries, you can email us at <a href="mailto:themedley.ostraca@gmail.com">themedley.ostraca@gmail.com</a>. We try to respond to submissions within 4-8 weeks of receiving them. If you do not hear from us till then, you can drop us an email at the above-mentioned address.</li>
    </ol>
    <p>
        <i>
            Wishing you the best,
            <br>
            The Medley Team
        </i>
    </p>

</section>