--- 
title: Submission 
layout: 'base.njk' 
---

<section class="med">
    <h1 class="content-title">Concept Note</h1>
    <p style="text-align: justify"><i>Mero</i>, a word borrowed from the Nepali, literally translates to <i>mine</i>. Grammatically, it is a possessive pronoun, indicating that something belongs to oneself. Here, however, we see it as ownership that encapsulates not just possession but selfhood - the inner sense that precedes labels, roles and validation. The question of <i>Who am I when the world isn’t watching? </i><br><br>
    In a world where conflict, competition and cooperation rest on one’s identity, both defining and be defined is, freeing as well as constraining.<br><br>
    In a world where one is expected to negotiate identities, Mero is a visceral plea sent out to remind the world of one's existence. Outside of your existence in relation to the world, it is what makes you human- <i>my</i> identity, <i>my</i> existence. It allows one to own one’s experiences without translation. Who am I in this world? What is my story? What is my identity? Whatever the answer, it is mine to shape, and mine to tell. It is <i>Mero</i>.<br><br>
    “And we of the world of light, of dark<br>
    We stare at ourselves and see shadows<br>
    But shadows exist and so<br>
    In this moment, <i>we</i> exist… I exist…”<br><br>
    It carries within itself parts of ourselves that we choose to keep hidden from the world, protecting them from the eyes, holding close and protecting what is truly <i>ours</i>. In an age of constant visibility, where identities are curated, filtered, and performed, <i>Mero</i> gestures towards what remains unedited and unmarketable – the self that exists beyond algorithms and applause.<br><br>
    This issue seeks to explore identity through mero, not merely as fixed labels, but as a shifting process. It invites you to explore how threads of memory, language, gender, sexuality, class, caste, faith, disability, desire, and geography intertwine to shape who we become. For many, especially within LGBTQIA+ communities, identity is not merely discovered but negotiated – often in silence, in resistance, at a great personal cost, within the patchwork quilt fabric of society. <br><br>
    It is weaved in solitude, and honest self-confrontation that those whose identities have been questioned or erased learn to reclaim their narratives. Ultimately, this issue is an <i>archive of becoming</i>. Each piece stands as testimony to the many ways individuals negotiate their presence in a world which closes in on itself. <br><br>
    This issue of <i>The Medley</i> calls you to shed the masks, and tell us through poetry, prose, non-fiction and photography. What is <i>Mero</i> to you?
    </p><br><br>

    <p>Last date for submission is <b>5th March 2026, Midnight IST.</b>
    <br>
    You can send your entries to <a href="mailto:themedley.ostraca@gmail.com">themedley.ostraca@gmail.com</a>.</a>
    </p>
    <br><br><br>

    <h2 class="content-title">General Guidelines</h2>

    <p style="color: brown">
        PROSE / ESSAYS : Only 2 pieces at a time, 2500 words maximum
        <br>
        POETRY : Only 3 pieces at a time, no word limit
        <br>
        PHOTOGRAPHY: Up to 5 images per individual. Attach a accompanying note for all.
    </p>
    <ol>
        <li>Prose and poetry should ideally be directly pasted in the body of the email. If your work requires special formatting, you may send it as an attachment, preferably in the form of a word document. PDF files are also acceptable.</li>
        <li>All submissions have to be accompanied by a short third-person bio of no more than 100 words, along with a headshot/photograph of the submitter as an attachment.</li>
        <li>The category of your work - fiction, non-fiction, poetry - has to be mentioned in the subject of the submission email. Also, state whether your submission is themed or non-themed.</li>
        <li>We allow only for previously unpublished works. We are open to simultaneous submissions (so long as you classify them as such and immediately let us know if they're accepted elsewhere).</li>
        <li>The Medley requires First Serial Rights and all archival rights. All rights revert back to the author upon publication.</li>
        <li>If your work appears elsewhere in print or online, please give due credit to The Medley as the place where your work first appeared.</li>
        <li>For any queries, you can email us at <a href="mailto:themedley.ostraca@gmail.com">themedley.ostraca@gmail.com</a>. We try to respond to submissions within 4-8 weeks of receiving them. If you do not hear from us till then, you can drop us an email at the above-mentioned address.</li>
    </ol>
    <p>
        <i>
            Wishing you the best,
            <br>
            The Medley Team
        </i>
    </p>

</section>